* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.nav-items {
  display: none;
  list-style: none;
  gap: 1rem;
}

.left-menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.right-menu {
  display: none;
  list-style: none;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 768px) {
  .menu-icon { /* correctly named? */
    display: none;
  }
  .nav-items {
    display: flex;
  }
}

@media (min-width: 768px) {
  .right-menu {
    display: flex;
  }
}
