* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.header__in-site-nav__items {
  display: none;
  list-style: none;
  gap: 1rem;
}

@media (min-width: 768px) {
  .header__in-site-nav__items {
    display: flex;
  }
}

.header__in-site-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__auth-btns { /* correctly named? */
  display: none;
  list-style: none;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 768px) {
  .header__auth-btns {
    display: flex;
  }
}

@media (min-width: 768px) {
  .menu-icon { /* correctly named? */
    display: none;
  }
}

.header__in-site__nav-button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  font-size: 25px;
}

.header__sign-up-button { /* These button styles are almost the same, what would be the best approach for this? */
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: 25px;
}

.header__sign-up-button:hover {
  background-color: beige;
  color: black;
}
